$gold: #cc9543;
$blue: #6bbfc3;
$light-blue: #6abfc3;
$grey: rgb(74, 74, 74);
$grey-a: rgba(74, 74, 74, 0.7);
$black: #4a4a4a;
$white-ish: #f3f3f3;

@font-face {
  font-family: "Norse";
  src: url("../fonts/Norse.otf");
}

@font-face {
  font-family: "Norse";
  src: url("../fonts/Norsebold.otf");
  font-weight: bold;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: $gold;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 1.2;
}

h2 {
  color: $black;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: $black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  font-family: "Norse";
  font-weight: bold;
  font-size: 1.6em;
  padding-left: 0.5em;
  color: $gold;
}

.menu {
  display: flex;
}
.menu ul {
  display: none;
}

.menu li {
  display: inline;
}

.menu li a {
  color: $grey;
  color: $grey-a;
  font-size: 1em;
  font-weight: bold;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.menu-toggle {
  color: $blue;
  font-size: 30px;
  padding-right: 16px;
}

.hero-gradient {
  background-image: linear-gradient(to bottom, #fff, #eee);
}

.header {
  padding-bottom: 3.75rem;
  text-align: center;
}

.secondary {
  padding-bottom: 4.375rem;
  color: $grey;
  color: $grey-a;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
}

.curr-button {
  background-color: $light-blue;
  color: white;
  border-radius: 0.2em;
  padding: 1rem 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
}

.how-it-works {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 70px;
}

.how-it-works h2 {
  margin-bottom: 36px;
}

.how-it-works p {
  color: $grey;
  color: $grey-a;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88
}

.how-it-works-tiles img {
  height: 80px;
}

.how-it-works-tiles h4 {
  margin: 50px 0 20px;
}

.how-it-works-tiles p {
  padding: 0 32px 0 32px;
}

.lets-learn {
  background: $white-ish;
  padding: 60px 0;
  text-align: center;
}

.learn-heading {
  margin-bottom: 60px;
}

.badges {
  background: white;
  height: 150px;
  width: 270px;
}

.lets-learn img {
  height: 80px;
  width: 80px;
}

.button-div {
  display: flex;
  justify-content: center;
}

.get-start-button {
  background-color: $gold;
  color: white;
  border-radius: 0.2em;
  padding: 1rem 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 40px;
}

.ss {
  text-align: center;
}

.ss-head {
  padding-top: 70px;
}

.stories {
  padding-top: 100px;
}

@media (min-width: 720px) {
  .menu ul {
    display: block;
  }

  .menu-toggle {
    display: none;
  }

  .how-it-works-tiles img {
    height: 120px;
  }

  .badges {
    height: 256px;
    width: 254px;
  }

  .lets-learn img {
    height: 160px;
    width: 160px;
  }
}

@media (min-width: 1024px) {
  .how-it-works-tiles img {
    height: 165px;
  }
}
